@media (max-width:600px){
    header{
        background-image: url(../images/hdr-bg.png);
        background-position: center;
        background-size: cover;
        width: 100%;
        height: auto;
        background-repeat: no-repeat;
        padding-bottom: 0vw;
    
    }
    header .low{
        width: 100%;
    }
    .link{
        display: flex;
        flex-direction: column;
        justify-content: end;
        text-align: end;
        gap: 1vw;
        padding-right: 3vw;
        padding-top: 1vw;
    }
    .link img{
        width: 7vw;
        
    }
    .banr-cnt{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0vw;
        flex-direction: column-reverse;
    }
    .banr-cnt .left-side{
        width: 100%;
    }
    .banr-cnt .left-side img{
        width: 100%;
        position: relative;
        /* left: 0;
        top: 10%; */
        transform: translateY(-2vw);
        z-index: 1;
        
    }
    .banr-cnt .left-side .fst{
        display: none;
    }
    .banr-cnt .left-side .scnd{
        display: block;
    
    }
    .banr-cnt .right-side
    {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0vw;
        text-align: center;
    }
    .banr-cnt .right-side .one{
        width: 27vw;
        margin: auto;
    
    }
    .banr-cnt .right-side .two{
        width: 72vw;
        margin: auto;
        transform: translateY(0vw);
    
    }
    .banr-cnt .right-side p{
        color: #fff;
        
        width: 75%;
        margin: auto;
        /* margin-top: 1.5vw; */
        font-size: 3.5vw;
        padding-top: 4vw;
        
    }
    .banr-cnt .right-side .btn{
        width: 50vw;
        display: flex;
        text-align: center;
        justify-content: center;
        margin: auto;
        margin-top: 4vw;
        transform: translateX(5vw);
    }
    marquee{
        width: 100%;
        padding: 2vw;
        border: 2px solid #000;
        background-color: #ffe85e;
        /* display: flex;
        gap: 1vw; */
        /* transform: translateY(-12vw); */
        margin-top: -1.8vw;
        z-index: 5;
    }
    marquee img{
        
        width: 100%;
    }



    /* ------------about-sec */

.about-sec{
    background-image: url(../images/about-bg.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    height:114vw;
    padding-top: 6vw;

}
.cntnt{
    background-image: url(../images/pizzy.png);
    background-position:center;
    background-size: cover;
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    padding-bottom: 0vw;
    
    
    
    
}
.cntnt{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5vw;
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 2vw;
}
.cntnt .abt{
    width: 55vw;
    display: flex;
    margin: auto;
}
.cntnt .pti{
    width:54vw;
    display: flex;
    margin: auto;
    padding-top: 2vw;

}
.cntnt p{
    width: 70%;
    margin: auto;
    font-size: 3.5vw;
    margin-top: 1vw;
    z-index: 5;
}
.cntnt .abt-btn{
    width: 46vw;
    display:flex;
    margin: auto;
    transform: translateX(4vw);
    margin-top: 1vw;
}
   



/* ----------tkn-sec---------- */
.tkn-sec{
    background-image: url(../images/tkn-bgr.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    height:auto;
    margin-top: -15vw;
    position: relative;
    height: 190vw;

    
    

}
.p1{
    position: absolute;
    width: 25vw;
    left: 60%;
    top: 9%;
}
.p2{
    position: absolute;
    width:25vw;
    left: 70%;
    top: 52%;
}
.text{
    width: 70vw;
    display: flex;
    margin: auto;
    padding-top:30vw;

}
/* -------suplyss- */
.suplyss{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.6vw;
    flex-wrap: wrap;
}
.box{
    width: 35vw;
    padding: 2vw 2vw;
    background-color: #ffd562;
    border: 2px solid #FFF;
    border-radius: 1vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1vw;
    margin-top: 4vw;
}
.box span{
    background-color: #ffa04d;
    padding: .5vw 5vw;
    text-align: center;
    font-size: 3.3vw;
    /* font-family: font; */
    width: 100%;
    color: #5E9106;
    font-family:patrick;
}
.box p{
    font-size: 3.5vw;
    text-align: center;
    font-weight: bold;
    color: #FF122F;
    animation:jello 3S cubic-bezier(0.165, 0.84, 0.44, 1)  infinite alternate;
    font-family:patrick;
}
.piza{
    display: flex;
    margin: auto;
    width: 60vw;
    padding-top: 4vw;
}



/* --------road------- */
.road{
    background-image: url(../images/road-bg.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    height:auto;
     margin-top: -14vw;
    position: relative;
    height: auto;
    z-index: -1;
}
.rd-txt{
    display: flex;
    margin: auto;
    width: 100vw;
    padding-top: 17vw;
}
.rd-btn{
    display: flex;
    margin: auto;
    width: 46vw;
    /* padding-top: 15vw; */
    z-index: 5;
    transform: translateX(6vw);

}
.boxes{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6vw;
    padding-top: 10vw;
    flex-direction: column;
}
.boxe{
    width: 80%;
    padding: 5vw 4vw;
    text-align: center;
    position: relative;
    background-color: #fecc56;
    border: 2px solid #ED1C24;
    box-shadow: -4px -6px 0px #ffeca5;
    border-radius: 3vw;
    text-align: center;
    height: 36vw;
    
}
.boxe h4{
    font-size: 5vw;
    position: absolute;
    top: 17%;
    left: 37%;
    color: #BE1E2D;

}
.boxe img{
    width:55vw;
    display: flex;
    margin: auto;
    transform: translateX(0vw);


}
.boxe ul{
    padding-top: 1vw;
    /* text-align: center; */
}
.boxe ul li{
    padding-top: .5vw;
    font-size: 3.5vw;
    text-align: center;
    list-style: none;
    
}
.join{
    position: relative;
    width: 93%;
    margin: auto;
    padding-top: 10vw;
}
.jn-bg{
    width:100%;
}
.jnn{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 5%;
    top: 24%;
    text-align: center;
    z-index: 4;
    
}
.jnn .jn-txt{
    width: 45vw;
}
.jn-btn{
    width: 37vw;
    z-index: 100;
    /* transform: translateY(6vw); */
    margin-top: 1vw;
}
.ftr{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2vw;
    padding: 0vw 2.5vw;
    flex-direction: column;
    /* position: relative; */
}
.bitt{
    width:45vw;
}
.ftr p{
    font-size: 3.5vw;
    color: #fff;
    /* width: 100%; */
}
.icni{
    display: flex;
    align-items: center;
    gap: 2vw;
    margin-top: 1vw;
}
.icni img{
    width: 7vw;
}
.loww{
    width: 100%;
    margin-top: 4vw;
    /* height: 16vw; */
/* position: absolute; */
transform: translateY(1vw);
}
}